// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.pubblished {
    font-size: 10px;
    text-align: end;
}

.body {
    background-color: #48466d;
    color: #3d84a8;
}

.table {
    color: #3d84a8;
}

.btn {
    border-color: #3d84a8;
}
